<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TeaShop</title>
</head>
<body>
	<div class="slider">
		
		<a href="countries" class="slider_item item1"><span>ЛУЧШИЕ</span></a>
		<a href="countries" class="slider_item item2"><span>ЧАИ</span></a>
		<a href="countries" class="slider_item item3"><span>МИРА</span></a>
		<a href="countries" class="slider_item item4"><span>ЗДЕСЬ</span></a>

	</a>
</body>
</html>